- name: uv is installed check
  ansible.builtin.stat:
    path: "{{ lookup('env', 'HOME') }}/.local/bin/uv"
  register: uv_installation
- name: Download uv install script
  when: uv_installation.stat.exists == false
  ansible.builtin.get_url:
    dest: "{{ lookup('env', 'HOME') }}/Downloads/uv_install.sh"
    url: https://astral.sh/uv/install.sh
    mode: "0777"
- name: Invoke uv install script
  when: uv_installation.stat.exists == false
  ansible.builtin.command:
    argv:
      - "{{ lookup('env', 'HOME') }}/Downloads/uv_install.sh"
  environment:
    UV_NO_MODIFY_PATH: "1"
